 /*Contacto */

 #contact {
    padding: 5rem 0;
}

.contact-container {
    display: flex;
    flex-wrap: wrap; /* Para permitir el ajuste en pantallas pequeñas */
}

.form-container {
    padding: 1rem;
    width: 50%;
    margin: auto;
}

.form-container input,
.form-container textarea {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
}

.form-container textarea {
    resize: none;
}

.card-title,
.card-text {
    color: #fff;
    font-family: sans-serif;
    text-align: center; /* Alineación central para el título y el texto */
}

#map {
    outline: 2px solid blue;
    margin: 5em auto; /* Centrar el mapa */
    width: 100%; /* Hacer que el mapa ocupe el 100% del ancho */
    max-width: 400px; /* Establecer un ancho máximo para evitar que sea demasiado grande */
    height: 400px;
}

#map iframe {
    width: 100%;
    height: 100%;
}

.btn-2 {
    display: inline-block;
    padding: 8px 25px;
    background-color: rgb(255, 0, 255);
    margin: 0 auto; /* Centrar el botón */
    border-radius: 20px;
    border: 2px solid;
    font-size: 17px;
    color: white;
}