.container {
  max-width: 1300px;
  width: 100%; /* Cambié "130%" a "100%" para que no se extienda más allá del viewport */
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: small;
}

/* Food category */
.btn-2 {
  display: inline-block;
  padding: 8px 25px;
  background-color: rgb(255, 0, 255);
  margin-bottom: 25px; /* Cambié "margin-right" a "margin-bottom" para separar verticalmente */
  border-radius: 20px;
  border: 2px solid;
  font-size: 17px;
  color: white;
}

#food {
  padding: 5rem 0 5rem 0; /* Ajusté el padding para que sea consistente */
}

.food-container {
  display: flex;
  flex-wrap: wrap; /* Para ajustar en pantallas pequeñas */
  justify-content: space-around; /* Para centrar los elementos */
}

.food-container img {
  width: 100%; /* Hacer que las imágenes ocupen el 100% del contenedor */
  max-width: 300px; /* Establecer un ancho máximo para evitar que las imágenes sean demasiado grandes */
  height: auto; /* Hacer que la altura se ajuste automáticamente */
  margin-bottom: 15px; /* Espaciado inferior entre las imágenes */
  object-fit: cover;
  object-position: center;
}

.food-menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 0; /* Ajusté el padding para que sea consistente */
}

.food-menu-container img {
  width: 100%; /* Hacer que las imágenes ocupen el 100% del contenedor */
  max-width: 250px; /* Establecer un ancho máximo para evitar que las imágenes sean demasiado grandes */
  height: auto; /* Hacer que la altura se ajuste automáticamente */
  margin-bottom: 15px; /* Espaciado inferior entre las imágenes */
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.food-menu-item {
  display: flex;
  flex-direction: column; /* Cambié "space-evenly" a "column" para apilar los elementos */
  align-items: center; /* Centrar los elementos */
  margin-bottom: 3rem;
}

.food-description {
  text-align: center; /* Alineación central del texto */
  margin: 1.5rem;
}

.food-description p {
  font-size: 1.2rem;
  color: #ece8e8;
  font-weight: 400;
}

.food-description .food-price {
  color: #edf5f3;
  font-weight: 700;
}
