article{
  flex-wrap: wrap;
}

*{
  box-sizing: border-box ;
  padding:0;
  margin: 0;
}
.container{
  display: flex;
  justify-content: center;
}

.image{
  width: 20%;
}

/*estilos para las tarjetas*/
*{
  box-sizing: border-box ;
  padding:0;
  margin: 0;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
  background: rgb(255, 255, 255) ;
  width: 220px;
  height: 500px;
  margin: 10px;z
}
.card-image{
  height: 10px;
  margin-bottom: 10px;
  background-size: cover;
}
.card-1{
   background: image 0;; 
}
.card-2{
  background-image: 0;
}
.card-3{
  background-image: 0;
}
.card h2{
  padding: 08px;
  text-align: center;
  color: rgb(255, 255, 255);
  display: block;
}
.card a{
  padding: 08px;
  text-align: center;
  color: black;
  display: block;
  margin: 1px;
}
.card p{
  text-align: center;
  color: #9c1c1c;
  padding: 02px;
  display: block;
  text-decoration: none;
}